snippet pum "Public java method" 
public void $1() {
	
}

endsnippet

snippet pim "Private java method" 
private void $1() {

}

endsnippet

snippet prm "Protected java method" 
protected void $1() {

}

endsnippet
