snippet pum "Public java method" 
public void $1() {
	
}

endsnippet

snippet pim "Private java method" 
private void $1() {

}

endsnippet

snippet prm "Protected java method" 
protected void $1() {

}

endsnippet

snippet tm "Test method" 
@Test
public void $1() {
	// GIVEN
	// WHEN
	// THEN
}

endsnippet
snippet bf "Before method for junit"
@Before
public void setUp() {
	$1
}
endsnippet
