snippet dep "Dependency in pom.xml" b
<dependency>
<artifactId>$2</artifactId>
<version>$3</version>
<groupId>$1</groupId>
</dependency>
endsnippet
snippet deps "Dependencies in pom.xml" b
<dependencies>$1
</dependencies>
endsnippet
